@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin align-center {
  display: flex;
  align-items: center;
}
@mixin justify-center {
  display: flex;
  justify-content: center;
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.wrapper {
  width: 100%;
}
.header {
  @include align-center;
  justify-content: space-between;
  background-color: black;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 20;
  top: 0;
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    li {
      margin-right: 15px;
    }
  }
  .secondary__navigation--search {
    border: 1px solid transparent;
    background-color: black;
    display: flex;
    border-radius: 100vh;
    //always use border-radius: 100vh;
    //it will give perfectly round corners
    padding: 3px;
    width: 30px;
    position: relative;
    transition: width 300ms ease-in-out;
    overflow: hidden;
    input {
      background-color: transparent;
      flex-grow: 1;
      font-size: 14px;
      color: white;
      border: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      &:focus {
        outline: 0;
      }
    }
    button {
      cursor: pointer;
      background-color: transparent;
      color: white;
      font-size: 16px;
      border: 0;
      border-radius: 100vh;
      height: 100%;
      width: auto;
      margin-left: auto;
    }
    &:focus-within {
      border: 1px solid white;
      width: 240px;

      input {
        opacity: 1;
      }
    }
  }
  .secondary__navigation--user {
    cursor: pointer;
    i:first-child {
      margin-right: 5px;
    }
    i:last-child {
      font-size: 10px;
      transition: transform 0.2s ease-in-out;
    }
    &:hover {
      i:last-child {
        transform: rotate(180deg);
      }
    }
  }
}

.container {
  @include justify-center;
  margin-top: 110px;
  width: 100vw;
  height: auto;

  &__posts {
    border: none;
    width: 60%;
    height: auto;
    background-color: transparent;
    margin: 0 5px 0 5px;

    .post {
      @include flex-column;
      align-items: center;
      padding: 20px;
      box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.5);

      margin-bottom: 20px;
      .title {
        text-transform: uppercase;
      }
    }
  }
  &__weather {
    @include flex-column;
    align-items: center;
    width: 20%;
    height: 280px;
    box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.5);
    background-color: rgb(78, 84, 95);
    color: white;
    font-weight: 300;
    &--city {
      font-weight: 300;
    }
    &--icon {
      img {
      }
    }
    &--info {
      @include flex-column;
      justify-content: space-evenly;
      text-align: center;
      background-color: rgb(125, 129, 138);
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      li {
        list-style: none;
        width: 100%;
        &:first-child {
          text-transform: capitalize;
        }
        &:nth-child(2) {
          font-size: 30px;
          font-weight: 300;
        }
        & i {
          padding-right: 10px;
        }
      }
    }
  }
}
